[submodule "external/sfizz"]
	path = external/sfizz
	url = https://github.com/dusk-audio/sfizz.git
	branch = dusk-studio
[submodule "external/clap"]
	path = external/clap
	url = https://github.com/free-audio/clap.git
[submodule "external/vst3sdk"]
	path = external/vst3sdk
	url = https://github.com/dusk-audio/vst3sdk.git
