[Desktop Entry]
Type=Application
Name=Dusk Studio
GenericName=Multitrack Recorder
Comment=Portastudio-style 24-channel DAW
Exec=DuskStudio %f
Icon=DuskStudio
Terminal=false
Categories=AudioVideo;Audio;Recorder;Music;
StartupWMClass=Dusk Studio
Keywords=DAW;recording;mixer;multitrack;portastudio;
MimeType=application/x-dusk-studio-session;
